<nav class="navbar navbar-dark bg-dark">
  <a routerLink = "home" class="navbar-brand" href="#">
    <img src="assets/display.jpeg" width="30" height="30" class="d-inline-block align-top" id = "logo">
    AU MANAGEMENT SYSTEM
  </a>
  <a routerLink = "home" class="nav-link text-light">
    <img src="assets/sign.jpg" width="25" height="25" class="d-inline-block align-top">
    Sign in/Sign Out
  </a>
</nav>

<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
    <a routerLink = "home" class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink = "opportunities" class="nav-link" href="#">Opportunities<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a routerLink = "create-opportunity" class="nav-link" href="#">Create Opportunity<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a routerLink = "current-trends" class="nav-link" href="#">Current Trends<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a routerLink = "audit" class="nav-link" href="#">Audits<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
