<div *ngIf = "flag">
    <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th scope="col"><input type="text" [(ngModel)] = "searchValue1" size = "8"></th>
            <th scope="col"><input type="text" [(ngModel)] = "searchValue2" size = "40"></th>
            <th scope="col"><input type="text" [(ngModel)] = "searchValue3" size = "10"></th>
            <th scope="col">SEARCH BAR</th>
          </tr>
        </thead>
        <tr>
          <th scope="col">Opportunity ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Action</th>
          <th scope="col">View</th>
        </tr>
        <tbody>
          <tr *ngFor = "let audit of audits | auditFilter: searchValue1: searchValue2: searchValue3">
            <td>{{audit.oid}}</td>
            <td>{{audit.user}}</td>
            <td>{{audit.action}}</td>
            <td>
                <button (click) = "viewAudit(audit.id)" class = "btn btn-info">View</button>
              </td>
          </tr>
        </tbody>
    </table>
</div>
    
<div *ngIf = "!flag">
    <div class="alert alert-danger" role="alert">
    Please Sign in with your Google Account to access Opportunities.
    </div>
</div>